body{background-color: black; }

p{color: #20C20E; font-family: 'Nanum Gothic Coding', monospace;}

h1{color: #31d61e; font-family: 'Nanum Gothic Coding', monospace; background-image: url("Hacking Background.jpg"); border: #20C20E solid 2px; height: 40px; text-align: center; text-align: middle; width: 800px; border-radius: 30px;}

h2{color: #31d61e; font-family: 'Nanum Gothic Coding', monospace; background-image: url("Hacking Background.jpg"); border: #20C20E solid 2px; height: 40px; text-align: center; text-align: middle; width: 600px; border-radius: 30px; font-size: 40px; float: right; margin-top: -127px;}

h3{color: white; font-family: 'Nanum Gothic Coding', monospace;  font-size: 20px; float: right; margin-top: 30px; }

.Contents{ border: #31d61e solid 5px; height: 337px; width: 600px; border-radius: 30px; float: right; display: inline-block; background-image: url(Background.jpg); background-repeat: no-repeat; margin-top: -50px;}

.location{ display: block; margin-right: 80px; text-shadow:2px 2px black; font-weight: bold; font-size: 25px;}

.Footer{border: #31d61e solid 3px; background-image: url(Footer.jpg); margin-top: 450px; height: 216px; width: 1620px; border-radius: 10px; background-repeat: no-repeat;}

a{color: White; font-family: 'Nanum Gothic Coding', monospace; font-size: 30px;}

.discord{margin-left: 500px;}

iframe{margin-left: 1020px;  height: 537px; width: 600px; margin-top: 10px;}

.IP{display: block;margin-right: 80px; text-shadow:2px 2px black; font-weight: bold; font-size: 25px; margin-top: 0px;}